.user-profile {
    padding: 40px;
}

.profile {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
}

.profile .profile-pic {
    max-width: 300px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profile .profile-pic img {
    width: 100%;
}

.profile .profile-info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.profile .profile-info p {
    font-size: 30px;
}

.profile-pic .pic-edit {
    position: absolute;
    top: 85%;
    left: 85%;
    transform: translate(-50%, -50%);
    color: #000;
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.profile-actions {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.profile-actions .action {
    padding: 10px 15px;
    border: none;
    outline: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.edit-profile {
    padding: 0 30px;
}

form {
    margin: 30px auto;
    padding: 20px 30px;
    box-shadow: 0 0 10px #ccc;
    max-width: 500px;
    border-radius: 10px;
}

form .input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    border: 1px solid #000;
    padding: 7px;
    margin: 15px 0;
    border-radius: 7px;
}

form .input input {
    width: 100%;
    border: none;
    outline: none;
}

form button {
    padding: 10px 15px;
    border: none;
    outline: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    left: 0;
    background: rgba(0,0,0,0.65);
    height: 100%;
    width: 100%;
}

.show-modal {
    position: fixed;
    top: 0;
    /* filter: blur(5px); */
}

.hide-modal {
    position: absolute;
    top: -100%;
}

.modal form {
    background: #fff;
    box-shadow: none;
}

.closeModal {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .profile {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .profile .profile-info p {
        font-size: 20px;
    }
}