.tasks {
    padding: 20px;
}

.tasks .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.header a {
    padding: 10px 15px;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
}

.no-task {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
}

.no-task img {
    width: 300px;
}

.add-task, .update-task {
    max-width: 500px;
    border-radius: 10px;
    padding: 30px;
    margin: 30px auto;
    box-shadow: 0 0 10px #ccc;
}

.add-task h1, .update-task h1 {
    margin-bottom: 10px;
}

.add-task .input, .update-task .input {
    margin-bottom: 10px;
    border: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.add-task .input label, .update-task .input label {
    font-weight: bold;
}

.add-task .input input, .update-task .input input {
    border: 1px solid #000;
    padding: 7px;
    border-radius: 7px;
}

.all-tasks {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 20px;
}

.all-tasks .task {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 6px #ccc;
    max-width: 300px;
    position: relative;
}

.task .task-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.task .task-header .high, 
.task .task-header .medium, 
.task .task-header .low {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 50%;
}

.task .task-header .high {
    background: red;
}
.task .task-header .medium {
    background: yellow;
}
.task .task-header .low {
    background: #2b2b2b;
}

.task .task-header p {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.task .task-header .task-menu {
    transform: rotate(90deg);
    cursor: pointer;
}

.all-tasks .task hr {
    margin: 10px 0;
}

.task .task-footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
}

.task-footer .footer-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.task-footer .footer-bottom {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.footer-bottom .task-del, .footer-bottom .task-edit {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    border-radius: 8px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.hide {
    display: none;
}

.task .menu {
    padding: 10px;
    position: absolute;
    top: 10px;
    right: -75%;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 0 4px #ccc;
    background: #fff;
    z-index: 2;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
}

.menu-item:hover {
    background: #e9e9e9;
}

.loading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.loading span {
    position: absolute;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: black;
    transform: rotate(calc(var(--i) * (360deg / 10))) translate(35px);
    opacity: 0;
    animation: load 1s linear infinite;
    animation-delay: calc(var(--i) * 0.1s);
}

@keyframes load {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@media screen and (max-width: 800px) {
    .tasks .header{
        justify-content: center;
    }
}